<!DOCTYPE html>
<html>
<head>
    <title>Отчет</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <!-- Титульник   -->
    <div class="page">
        <div class="content">
            <div class="content__center">
                <img src="logo.png" class="titul-logo" style="width: 110px; height: 110px;">
                <p style="font-size: 10pt;">
                    МИНИСТЕРСТВО НАУКИ И ВЫСШЕГО ОБРАЗОВАНИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ
                </p>
                <p style="text-align: center; font-size: 12pt;">
                    Федеральное государственное бюджетное образовательное учреждение <br> высшего образования
                </p>
                <b style="margin-top: 12pt;">
                    "МИРЭА - Российский технологический университет"
                </b>
                <h2 style="margin-top: 10pt;">
                    РТУ МИРЭА
                </h2>
                <hr noshade style="width: 95%; height: 3px; border: none; border-top: 1px solid black;
                    border-bottom: 1px solid black; background-color: #fff;"/>
                <p style="margin-top: 5px; font-size: 12pt;">
                    Институт информационных технологий (ИТ)
                </p>
                <p style="text-align: center;">
                    Кафедра инструментального и прикладного <br> программного обеспечения (ИиППО)
                </p>
                <hr style="width: 95%;"/>

            </div>
            <div class="content__container" style="display:flex; flex-direction: column; justify-content: space-evenly;
                 height: 600px;">
                <p style="font-size: 14pt; text-align: center;">
                    <b>ПРАКТИЧЕСКИЕ РАБОТЫ</b>  <br> <b>по дисциплине</b> <br> «Программирование на языке Джава»
                </p>
                <div class="content__names" style="margin-left: 20px;">
                    <div class="student" style="font-size: 12pt;
                    display:flex; justify-content: space-between;">
                        <p>
                            Выполнил студент группы <span>_________________</span>
                        </p>
                        <i style="margin-right: 20px;">Ffsfsfe</i>
                    </div>
                    <div class="assistant" style="margin-top: 30px; font-size: 12pt;
                    display:flex; justify-content: space-between;">
                        <p>
                            Принял
                        </p>
                        <i style="margin-right: 20px;">Gdhjdghj</i>
                    </div>
                </div>
                <div class="content__bottom" style="margin-left: 40px; width: 350px;">
                    <p style="font-size: 10pt; display:flex; justify-content: space-between;">
                        <span style="width: 250px; text-align: center">Практические работы выполнены</span>
                        <span>«___»_______2020г</span>
                    </p>
                    <p style="margin-top: 30px; font-size: 10pt; position: relative; bottom: 0px; display:flex;
                        justify-content: space-between;">
                        <span style="width: 250px; text-align: center">«Зачтено»</span>
                        <span>«___»_______2020г.</span>
                    </p>
                </div>
            </div>
        </div>
        <p style="margin-top: 15px; text-align: center; font-size: 11pt; opacity: 70%;">
            Москва 2020
        </p>
    </div>

    <!-- 2ая страница   -->
    <div class="page">
        <div class="content">
            <strong>Практическая работа 2</strong> <br/>
            <div class="content-margin">
                <strong>Цель работы</strong>
                <p>Освоить на практике работу с абстрактными классами и наследованием на Java.</p>
                <strong>Теоретическое введение</strong>
                <p>
                    abstract void yourMethod();
                    Класс, содержащий абстрактные методы, называется абстрактным классом. Такие классы при определении помечаются ключевым словом abstract.
                    Абстрактный метод внутри абстрактного класса не имеет тела, только прототип. Он состоит только из объявления и не имеет тела:
                    По сути, мы создаём шаблон метода. Например, можно создать абстрактный метод для вычисления площади фигуры в абстрактном классе Фигура. А все другие производные классы от главного класса могут уже реализовать свой код для готового метода. Ведь площадь у прямоугольника и треугольника вычисляется по разным алгоритмам и универсального метода не существует.
                    Если вы объявляете класс, производный от абстрактного класса, но хотите иметь возможность создания объектов нового типа, вам придётся предоставить определения для всех абстрактных методов базового класса. Если этого не сделать, производный класс тоже останется абстрактным, и компилятор заставит пометить новый класс ключевым словом abstract.
                    Абстрактный класс не может содержать какие-либо объекты, а также абстрактные конструкторы и абстрактные статические методы. Любой подкласс абстрактного класса должен либо реализовать все абстрактные методы суперкласса, либо сам быть объявлен абстрактным.</p>
                <strong>Ход работы</strong>
                <p>test</p>
                <strong>Код</strong>
                <pre>
<strong>src/ru/micron/task1/Main.java</strong>

package ru.micron.task1;

import java.util.Arrays;
import java.util.Random;

public class Main {
    public static void num3(){
        int[] arr = {1,2,3,4};
        int res = 0;
        for (int i = 0; i < arr.length; i++)
            res += arr[i];
        System.out.println(res);
    }

    public static void num4(String[] args) {
        for (int i = 0; i < args.length; i++)
            System.out.println(args[i]);
    }

    public static void num5() {
        for (int i = 1; i <= 10; i++){
            System.out.printf("%.2f\t", (float)1 / i);
        }
    }

    public static void num6(){
        int[] arr = new int[10];
        for (int i = 0; i < 10; i++)
            arr[i] = (int)(Math.random() * 100);
        for(int i = 0; i < 10; i++)
            System.out.println(arr[i]);
        Arrays.sort(arr);
        for(int i = 0; i < 10; i++)
            System.out.println(arr[i]);
        Random ran = new Random(100);
        for(int i = 0; i < 10; i++)
            arr[i] = ran.nextInt(100);
        Arrays.sort(arr);
        for(int i = 0; i < 10; i++)
            System.out.println(arr[i]);
    }
    public static void num7(int fac){
        if (fac == 0){
            System.out.println(1);
            return;
        }
        long res = 1;
        for(int i = 1; i <= fac; i++)
            res *= i;
        System.out.println(res);
    }

    public static void main(String[] args) {
        //num3();
        //num4(args);
        //num5();
        //num6();
        num7(5);
    }
}
                </pre>
                <strong>Выводы по работе</strong>
                <p>Я научился работать с абстрактными классами. Появилось понимание наследования в Java.</p>
                <strong>Используемая литература</strong>
                <p>1.	Конспект лекций по дисциплине “Программирование на языке Java”, РТУ МИРЭА. Лектор – Зорина Н.В.</p>
            </div>
        </div>
    </div>

</div>

</body>
</html>