<!DOCTYPE html>
<html>
<head>
    <title>Отчет</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <!-- titul page   -->
    <div class="page">
        <div class="content">
            <div class="content__center">
                <img class="titul-logo" src="logo.png">
                <p class="str1">
                    МИНИСТЕРСТВО НАУКИ И ВЫСШЕГО ОБРАЗОВАНИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ
                </p>
                <p class="str2">
                    Федеральное государственное бюджетное образовательное учреждение <br> высшего образования
                </p>
                <b class="str3">
                    "МИРЭА - Российский технологический университет"
                </b>
                <h2 class="str4">
                    РТУ МИРЭА
                </h2>
                <hr class="hr1" noshade/>
                <p class="str5" >
                    Институт информационных технологий (ИТ)
                </p>
                <p class="str6">
                    Кафедра инструментального и прикладного <br> программного обеспечения (ИиППО)
                </p>
                <hr class="hr2"/>

            </div>
            <div class="content__container">
                <p class="str7">
                    <b>ПРАКТИЧЕСКИЕ РАБОТЫ</b>  <br> <b>по дисциплине</b> <br> «Программирование на языке Джава»
                </p>
                <div class="content__names">
                    <div class="student">
                        <p>
                            Выполнил студент группы <span>_________________</span>
                        </p>
                        <i class="name">
                            Ffsfsfe
                        </i>
                    </div>
                    <div class="assistant">
                        <p>
                            Принял
                        </p>
                        <i class="name">
                            Gdhjdghj
                        </i>
                    </div>
                </div>
                <div class="content__bottom">
                    <p class="bottom-str1">
                        <span class="bottom-str1__item1">
                            Практические работы выполнены
                        </span>
                        <span class="bottom-str1__item2">
                            «___»_______2020г
                        </span>
                    </p>
                    <p class="bottom-str2">
                        <span class="bottom-str2__item1">
                            «Зачтено»
                        </span>
                        <span class="bottom-str2__item2">
                            «___»_______2020г.
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <p class="running-title">
            Москва 2020
        </p>
    </div>

    <!-- page 2 -->
    <div class="page">
        <div class="content">
            <h1 class="h1">
                Практическая работа 2
            </h1>
            <div>
                <h2 class="h2">
                    Цель работы
                </h2>
                <p class="text">
                    Освоить на практике работу с абстрактными классами и наследованием на Java.
                </p>

                <h2 class="h2">
                    Теоретическое введение
                </h2>
                <p class="text">
                    abstract void yourMethod();
                    Класс, содержащий абстрактные методы, называется абстрактным классом. Такие классы при определении помечаются ключевым словом abstract.
                    Абстрактный метод внутри абстрактного класса не имеет тела, только прототип. Он состоит только из объявления и не имеет тела:
                    По сути, мы создаём шаблон метода. Например, можно создать абстрактный метод для вычисления площади фигуры в абстрактном классе Фигура. А все другие производные классы от главного класса могут уже реализовать свой код для готового метода. Ведь площадь у прямоугольника и треугольника вычисляется по разным алгоритмам и универсального метода не существует.
                    Если вы объявляете класс, производный от абстрактного класса, но хотите иметь возможность создания объектов нового типа, вам придётся предоставить определения для всех абстрактных методов базового класса. Если этого не сделать, производный класс тоже останется абстрактным, и компилятор заставит пометить новый класс ключевым словом abstract.
                    Абстрактный класс не может содержать какие-либо объекты, а также абстрактные конструкторы и абстрактные статические методы. Любой подкласс абстрактного класса должен либо реализовать все абстрактные методы суперкласса, либо сам быть объявлен абстрактным.
                </p>

                <h2 class="h2">
                    Ход работы
                </h2>
                <p class="text">
                    test
                </p>

            </div>
        </div>
        <p class="running-title">
            Москва 2020
        </p>
    </div>

    <!-- page 3 -->
    <div class="page">
        <div class="content">
            <h2 class="h2">
                Код
            </h2>
            <pre class="code">
<strong>src/ru/micron/task1/Main.java</strong>

package ru.micron.task1;

import java.util.Arrays;
import java.util.Random;

public class Main {
    public static void num3(){
        int[] arr = {1,2,3,4};
        int res = 0;
        for (int i = 0; i < arr.length; i++)
            res += arr[i];
        System.out.println(res);
    }

    public static void num4(String[] args) {
        for (int i = 0; i < args.length; i++)
            System.out.println(args[i]);
    }

    public static void num5() {
        for (int i = 1; i <= 10; i++){
            System.out.printf("%.2f\t", (float)1 / i);
        }
    }

    public static void num6(){
        int[] arr = new int[10];
        for (int i = 0; i < 10; i++)
            arr[i] = (int)(Math.random() * 100);
        for(int i = 0; i < 10; i++)
            System.out.println(arr[i]);
        Arrays.sort(arr);
        for(int i = 0; i < 10; i++)
            System.out.println(arr[i]);
        Random ran = new Random(100);
        for(int i = 0; i < 10; i++)
            arr[i] = ran.nextInt(100);
        Arrays.sort(arr);
        for(int i = 0; i < 10; i++)
            System.out.println(arr[i]);
    }
    public static void num7(int fac){
        if (fac == 0){
            System.out.println(1);
            return;
        }
        long res = 1;
        for(int i = 1; i <= fac; i++)
            res *= i;
        System.out.println(res);
    }

    public static void main(String[] args) {
        //num3();
        //num4(args);
        //num5();
        //num6();
        num7(5);
    }
}
            </pre>
        </div>
        <p class="running-title">
            Москва 2020
        </p>
    </div>

    <!-- page 4 -->
    <div class="page">
        <div class="content">
            <h2 class="h2">
                Выводы по работе
            </h2>
            <p class="text">
                Я научился работать с абстрактными классами. Появилось понимание наследования в Java.
            </p>

            <h2 class="h2">
                Используемая литература
            </h2>
            <p class="text">
                1.	Конспект лекций по дисциплине “Программирование на языке Java”, РТУ МИРЭА. Лектор – Зорина Н.В.
            </p>

        </div>
        <p class="running-title">
            Москва 2020
        </p>
    </div>
</div>
</body>
</html>